<h2>Interesting Games</h2><p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>Final</td></tr>
<tr><td style="width: 200px;">Oregon St</td><td>14</td></tr>
<tr class="odd,center"><td> (19) Penn St</td><td>45</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>Final</td></tr>
<tr><td style="width: 200px;">California</td><td>66</td></tr>
<tr class="odd,center"><td>Washington St</td><td>3</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>Final</td></tr>
<tr><td style="width: 200px;">Stanford</td><td>17</td></tr>
<tr class="odd,center"><td> (15) Arizona St</td><td>41</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>Final</td></tr>
<tr><td style="width: 200px;"> (15) Brigham Young</td><td>28</td></tr>
<tr class="odd,center"><td>Washington</td><td>27</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>Final</td></tr>
<tr><td style="width: 200px;">Eastern Washington</td><td>24</td></tr>
<tr class="odd,center"><td>Colorado</td><td>31</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>Final</td></tr>
<tr><td style="width: 200px;">UNLV</td><td>21</td></tr>
<tr class="odd,center"><td> (22) Utah</td><td>42</td></tr>
</table></p>