<h2>Interesting Games</h2><p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>4:00 PM ET</td></tr>
<tr><td style="width: 200px;">Hawaii</td><td>&nbsp;</td></tr>
<tr class="odd"><td>Oregon St</td><td>&nbsp;</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>8:00 PM ET</td></tr>
<tr><td style="width: 200px;"> (5) Ohio St</td><td>&nbsp;</td></tr>
<tr class="odd"><td> (1) USC</td><td>&nbsp;</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>8:00 PM ET</td></tr>
<tr><td style="width: 200px;"> (22) Utah</td><td>&nbsp;</td></tr>
<tr class="odd"><td>Utah St</td><td>&nbsp;</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>12:30 PM ET</td></tr>
<tr><td style="width: 200px;">Washington St</td><td>&nbsp;</td></tr>
<tr class="odd"><td>Baylor</td><td>&nbsp;</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>3:30 PM ET</td></tr>
<tr><td style="width: 200px;">UCLA</td><td>&nbsp;</td></tr>
<tr class="odd"><td> (18) Brigham Young</td><td>&nbsp;</td></tr>
</table></p><table style="width: 250px;padding: 20px;"><tr style="background-color: #000;color: #fff;"><td colspan='2'>10:00 PM ET</td></tr>
<tr><td style="width: 200px;">UNLV</td><td>&nbsp;</td></tr>
<tr class="odd"><td> (15) Arizona St</td><td>&nbsp;</td></tr>
</table></p>