<p style="margin: 30px; font-size: 2em;">If you'd like to subscribe to an iCal calendar with the Bronco Schedule click <a href="webcal://go@ical.broncodashboard.com/BSU%20Football%20Schedule.ics">here</a>.
<br />
The username is <strong>go</strong> and the password is <strong>broncos</strong>.
</p>

<p style="margin: 30px; font-size: 2em;">I'll try to have the spring games and the fall games on the calendar at least.</p>

<p style="margin: 30px; font-size: 1.5em; color: red;">Change the
auto-refresh to "Weekly" on your iCal subscription to get updates to the calendar.</p>