<div style="text-align: center;margin-top: 50px;">
	<h1>Broncodashboard is now on the iPhone!</h1>
</div>


<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;">
	<img src="/images/icon_view.jpg" title="Broncodashboard Icon" style="float: left;padding: 20px;"></img>
	There is a new application on the App Store that we are very excited to announce.  It is the Broncodashboard iPhone app.  The Broncodashboard app is an extension of the Broncodashboard website.  Some the features include the current Boise State Football schedule, the Boise State Football team roster, and an RSS feed of the hometown Boise State Broncos Football coverage.
</p>

<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;">
	We hope that you enjoy this app as much as we do.  If you have issues or feature requests you can email JustinBKay@gmail.com and I'll respond as I have answers to your queries.
</p>
<div id="appStore">
	<a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=324001905&mt=8"><img src="/images/App_Store_Badge_EN.png" title="Available in the App Store" style="float: left;padding-left: 75px; border: 0px;"></a>
</div>
<div style="text-align: center; clear: both;">
	<h2>Screenshots:</h2>
	<p style="padding: 20px;"><img src="/images/schedule.png" title="BSU Football Schedule" ></img><br />
		<br />The Current Schedule</p>
	<p style="padding: 20px;"><img src="/images/roster.png" title="BSU Football Roster" ></img><br />
		<br />The Roster with player detail</p>
	<p style="padding: 20px;"><img src="/images/roster_search.png" title="BSU Football Roster search" ></img><br />
		<br />The Roster is searchable</p>
	<p style="padding: 20px;"><img src="/images/rss.png" title="Idaho Statesman BSU Football Coverage" ></img><br />
	<br />	The RSS feed of the IdahoStatesman.com's BSU Football Coverage	</p>
	<p style="padding: 20px;"><img src="/images/news_story.png" title="Idaho Statesman story" ></img><br />
	<br />	The IdahoStatesman.com's story	</p>
</div>
