<div style="text-align: center;margin-top: 50px;">
	<h1>Broncodashboard is now on the iPhone!</h1>
</div>

<div style="float: left;">
	<script type="text/javascript"><!--
	google_ad_client = "pub-5986985152942208";
	/* 120x600, created 9/24/09 */
	google_ad_slot = "1552574946";
	google_ad_width = 120;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;width: 700px;float: left;">
	
	We had a great season being on the iPhone.  We are looking forward to more great times in the season to come.  Last season brought some new features like the Top 25 polls (AP, Coaches, BCS), and the themes for the schedules plus bug fixes along the way.  Recently version 1.6 was released with the scheduled game times being shown in local time and a better news view.  We are now following the <a href="http://obnug.com">OBNUG</a> news feed for the stories and we are giving you the article title, author and release date instead of a partial title.  
</p>
<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;width: 700px;float: left;"><img src="/images/icon_view.png" title="Broncodashboard Icon" style="float: left;padding: 20px;"></img>For those not familiar with Bronco DB on the iPhone, it gives you an easy way to access up-to-date information on your favorite college football team, The Boise State Broncos.  Some of the features include: the current/upcoming Boise State Football schedule and results, the team roster with player detail, the top 25 polls, and an RSS feed of the hometown Boise State Broncos Football coverage by the <a href="http://obnug.com/" title="One Bronco Nation Under God">OBNUG</a>.
</p>

<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;width: 700px;float: left;">
	We hope that you enjoy this app as much as we do.  If you have issues or feature requests you can email JustinBKay@gmail.com and I'll respond as quickly as I can.
</p>

<div id="appStore">
	<a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=324001905&mt=8"><img src="/images/App_Store_Badge_EN.png" title="Available in the App Store" style="float: left;padding-left: 75px; border: 0px;"></a>
	<div style="float: right; padding-right: 475px;">
	<h3>Features:</h3>
	<ul>
		<li>Themes for the schedule</li>
		<li>Top 25 polls</li>
		<li>Searchable Roster: name, position, year, number</li>
		<li>Up to date news items from OBNUG.com</li>
	</ul>
</div>
</div>

<div style="text-align: center; clear: both;">
	<p>
		<img src="/images/schedule.png" title="BSU Football Schedule" ></img><br />
	</p>
	<p>
		<img src="/images/polls.png" title="AP and Coaches Polls" ></img><br />
	</p>
	<p>
		<img src="/images/roster.png" title="BSU Football Roster" ></img><br />
	</p>
	
	<p>
		<img src="/images/rss.png" title="Idaho Statesman BSU Football Coverage" ></img><br />
	</p>
	
</div>
