<div style="text-align: center;margin-top: 50px;">
	<h1>Vandal DB is now on the iPhone!</h1>
</div>

<div style="float: left;">
	<script type="text/javascript"><!--
	google_ad_client = "pub-5986985152942208";
	/* 120x600, created 9/24/09 */
	google_ad_slot = "1552574946";
	google_ad_width = 120;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;width: 700px;float: left;">
	<img src="/images/v_icon_view.png" title="Broncodashboard Icon" style="float: left;padding: 20px;"></img>
	There is a new application on the App Store that we are very excited to announce.  It is the Vandal Dashboard iPhone app.  It gives you an easy way to access up-to-date information on your favorite college football team, The Idaho Vandals.  Some of the features include: the current Vandal Football schedule and results, the team roster with player detail, and an RSS feed from <a href="http://idaho.scout.com">GoVandals.net</a>.
</p>

<p style="font-size: 1.5em;margin-left: 75px;margin-right:75px;width: 700px;float: left;">
	We hope that you enjoy this app as much as we do.  If you have issues or feature requests you can email JustinBKay@gmail.com and I'll respond as quickly as I can.
</p>

<div id="appStore">
	<a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=324001905&mt=8"><img src="/images/App_Store_Badge_EN.png" title="Available in the App Store" style="float: left;padding-left: 75px; border: 0px;"></a>
	<div style="float: right; padding-right: 475px;">
	<h3>Features:</h3>
	<ul>
		<li>Themes for the schedule</li>
		<li>Top 25 polls</li>
		<li>Searchable Roster: name, position, year, number</li>
		<li>Up to date news items from GoVandals.net</li>
	</ul>
</div>
</div>

<div style="text-align: center; clear: both;">
	<p>
		<img src="/images/v_schedule.png" title="Idaho Football Schedule" ></img><br />
	</p>
	<p>
		<img src="/images/v_polls.png" title="AP and Coaches Polls" ></img><br />
	</p>
	<p>
		<img src="/images/v_roster.png" title="Idaho Football Roster" ></img><br />
	</p>
	
	<p>
		<img src="/images/v_rss.png" title="GoVandals.net RSS Feed" ></img><br />
	</p>
	
</div>
