<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<%= auto_discovery_link_tag(:rss, {:controller => 'syndication', :action => 'bsu_schedule'}) %>
    <title>Boise State Broncos Football Dashboard</title>
	<%= stylesheet_link_tag 'base', :media => 'screen' %>
	<%= stylesheet_link_tag 'handheld', :media => 'handheld' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'control.modal.2.2.2.js' %>
	
  </head>
	<body>
		
		<div id="header">
			<img style="margin-top: 10px;" src='/images/broncodashboard.png' alt="broncodashboard.com" />
			<ul>
				<li><%= link_to "Bronco Dashboard", :controller => 'info', :action => "index" %></li>
				<li><%= link_to "WAC Standings", :controller => 'info', :action => "wac" %></li>
				<li><%= link_to "Mac OS X Widget", :controller => 'info', :action => 'widget' %></li>
				
			</ul>	
		</div>
		
		<div id="content">
				<p id="contact"><a href="mailto:justinbkay@gmail.com">Contact me</a></p>
				<%= yield %>
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-5484456-2");
		pageTracker._trackPageview();
		</script>
	</body>
<html>